[Desktop Entry]
Version=1.0
Type=Application
Name=Runescape Client Updater
GenericName=Runescape Client Updater
Comment=Update the runescape client
Icon=/usr/share/icons/hicolor/scalable/apps/runescape-update-client.png
Terminal=false
Exec=urxvt -e \"update-runescape-client\"
Categories=GNOME;GTK;Game;
