[Desktop Entry]
Version=1.0

Type=Application
Name=RuneScape
GenericName=RuneScape
Comment=The RuneScape Unix Client
Icon=/usr/share/icons/hicolor/scalable/apps/runescape.png
Terminal=false
Exec=runescape
Categories=GNOME;GTK;Game;
X-Ayatana-Desktop-Shortcuts=LaunchBeta;UpdateClient;

[UpdateClient Shortcut Group]
Name=Update Runescape Client
Exec=update-runescape-client
#TargetEnvironment=Unity
