[Desktop Entry]
Version=1.0

Type=Application
Name=RuneScape Launcher
GenericName=RuneScape Launcher
Comment=A launcher to the RuneScape Unix Client
Icon=/usr/share/icons/hicolor/scalable/apps/runescape.png
Terminal=false
Exec=runescape-launcher
Categories=GNOME;GTK;Game;
