[Desktop Entry]
Version=1.0
Type=Application
Name=RuneScape Client Updater
GenericName=RuneScape Client Updater
Comment=Update the RuneScape Client
Icon=/usr/share/icons/hicolor/scalable/apps/runescape-update-client.png
Terminal=false
Exec=update-runescape-client
Categories=GNOME;GTK;Game;
