[Desktop Entry]
Version=1.0
Type=Application
Name=RuneScape EoC beta
GenericName=RuneScape EoC beta
Comment=The RuneScape Unix Client
Icon=/usr/share/icons/hicolor/scalable/apps/runescape.png
Terminal=false
Exec=runescape --prmfile=runescape-beta.prm
Categories=GNOME;GTK;Game;
X-Ayatana-Desktop-Shortcuts=UpdateClient;

Name[en_US]=runescape-beta.conf

[UpdateClient Shortcut Group]
Name=Update Runescape Client
Exec=urxvt -e "/opt/runescape/update-runescape-client"
#TargetEnvironment=Unity

